{%extends 'post/base.html'%}
{%block content%}
<form method="POST" action="">{%csrf_token%}
    {{form.text}}
    <div>
    <input type="radio" required name="mark" value=1>1<br>
    <input type="radio" required name="mark" value=2>2<br>
    <input type="radio" required name="mark" value=3>3<br>
    <input type="radio" required name="mark" value=4>4<br>
    <input type="radio" required name="mark" value=5>5<br>
    <button type="sumbit">Create</button>
    {%endblock%}