<!DOCTYPE html>
{%load static%}
{% load mptt_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/post.css'%}">
    <title>{%block title%}Blog{%endblock%}</title>
</head>
<body>
<a href="{%url 'new'%}"> New post </a>
{% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p>
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign up</a>
      {% endif %}
    {%block content%}
    {%endblock%}
</body>
</html>