{% extends 'post/base.html' %}
    {% block content%}
<a href="{% url 'products' %}">Shop</a>
<br>
   {% for category in categories %}
<br>
<a href="{% url 'post_category' category_pk=category.pk %}">{{category}}</a>
<br>
    {%endfor%}

    {% endblock %}
