{%extends 'post/base.html'%}
{%block content%}
<form method="POST" action="" enctype="multipart/form-data">{%csrf_token%}
    {{form.as_p}}
    <button type="sumbit">Create</button>
    {%endblock%}

    {% if img_obj %}
    <h3>Succesfully uploaded : {{img_obj.title}}</h3>
    <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %}