{%extends 'post/base.html'%}
    {%block content%}
<br>
    <a href="{% url 'categories' %}">Categories</a><br>

    {% for post in posts %}
    <div>
        <a href="{%url 'post_detail' post_pk=post.pk %}">{{ post }}</a>
    </div>
    {% endfor %}
    <a href="{% url 'recommendations' %}">Recommendations</a>
{% endblock %}
