{%extends 'post/base.html'%}
    {%block content%}
<br>
<a href="{% url 'edit' post_pk=post.pk %}">Edit</a>
<br>    Category:
    <h2>{{category.name}}</h2><br>
    <h1>{{post.title}}</h1><br>
    <h3>{{post.text}}</h3><br>
        Rating : {{post.rating}}<br>
{% for t in post.tag.all%}
<a href="{% url 'tag' tag_pk=t.pk %}"> #{{t.text}}</a>
{%endfor%}
<a href="{% url 'add_tag' post_pk=post.pk %}">add tag</a>
    {{post.date}}<br>
    {% if post.image %}
            <img src="{{ post.image.url }}"  alt="{{ post.title }}"><br>
        {% endif %}

    like - {{post.likes}}<br>
    dislike - {{post.dislike}}<br>
    Views - {{post.count}} <br>

    <a href="{% url 'post_like' post_pk=post.pk %}">like</a>
    <a href="{% url 'post_dislike' post_pk=post.pk %}">dislike</a>
<br>
    <a href="{% url 'delete' post_pk=post.pk %}">Delete</a>
</br>
<a href="{% url 'post_list' %}">ON MAIN</a>
<br>
    <a href="{% url 'add_comment' post_pk=post.pk %}">Add comment</a>
</br>
<br>
    Comments {{amount}}:
    {%for comment in comments%}

    <div>

    {{comment.text}}
    date: {{comment.date}}
    <a href="{% url 'delete_comment' comment_pk=comment.pk post_pk=post.pk %}">Delete comment</a>
    <a href="{% url 'edit_comment' comment_pk=comment.pk post_pk=post.pk %}">Edit comment</a>
    </div>
    {%endfor%}
<br>
Reviews:
{% for review in reviews%}
<div>
    {{review.text}}<br>
    Mark: {{review.mark}}
    {%endfor%}
</div>
<a href="{% url 'add_review' post_pk=post.pk %}">Add reviews</a>
</br>

    {% if post.draft %}
    <a href="{% url 'publish' post_pk=post.pk %}">Publish</a>
        {% endif %}


{% endblock %}