{% extends 'post/base.html' %}
{% block title %}{{product.name}}{%endblock%}
    {% block content%}
    Category:{{product.category}}<br>
    Name:{{product.name}}<br>
    Description:{{product.description}}<br>
    Price:{{product.price}}<br>
    Image:<img src="{{ product.image.url}}" alt="connect" style="max-height:300px"><br><br>
    Feedbacks:
    {% for feedback in feedbacks %}
    {{feedback.text}}<br>
    {%endfor%}
    <br>
    <form method="POST" action="">{%csrf_token%}
        <input type="text" name='feedback'><br>
    <button type="sumbit">Add feedback</button>



    {% endblock %}