<!DOCTYPE html>
{%load static%}
{% load mptt_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'css/post.css'%}">
    <title>Shop</title>
</head>
<body>
<a href="{% url 'favorite' %}">Favorite</a>
<a href="{% url 'clear_basket' %}">Clear basket</a>
<a href="{% url 'create_product' %}">Create new product</a><br>
<a href="{% url 'basket' %}">Basket</a><br>
{% for product in products %}
    Name: <a href="{% url 'detail' product_id=product.id %}">{{ product }}</a><br>
    Price: {{product.price}}<br>
    Category: {{product.category}}<br>
    Description: {{product.description}}<br>
{% if product.image %}
    Image:
  <img src="{{ product.image.url}}" alt="connect" style="max-height:300px"><br>
{% endif %}
    <a href="{% url 'add_to_basket' product_pk=product.pk %}">Add to basket</a><br>
    <form method="POST" action="">{%csrf_token%}
        <input type="text" name='amount'><br>
{%endfor%}
{% for product in products_in_basket %}
    Name: <a href="{% url 'detail' product_id=product.id %}">{{ product }}</a><br>
    Price: {{product.product.price}}<br>
    Category: {{product.product.category}}<br>
    Description: {{product.product.description}}<br>
{% if product.image %}
    Image:
  <img src="{{ product.product.image.url}}" alt="connect" style="max-height:300px"><br>
{% endif %}

    Amount: {{product.amount_of_product}}<br>

<a href="{% url 'delete_form_basket' product_pk=product.pk %}">Delete from basket</a><br>
{%endfor%}

<br>
{% if products_in_favorite%}
{% for product in products_in_favorite %}
Name:{{product.products.name}}<br>
{%endfor%}
{%endif%}
</body>
</html>
